{% extends 'base.html.twig' %}

{% block title %}Player invite system - History list{% endblock %}

{% block body %}
    <div class="container mt-4">
        <form method="POST">
            <button type="submit" class="btn btn-primary mb-1 float-right">Save</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">When added?</th>
                    <th scope="col">Steam name</th>
                    <th scope="col">Steam ID</th>
                    <th scope="col">Contacted?</th>
                    <th scope="col">Steam Link</th>
                    <th scope="col">Add chat log</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2019-12-19 11:07</td>
                    <td>Random steam name</td>
                    <td>STEAM_1:0:174430120</td>
                    <td>
                        <div class="mx-auto">
                            <input type="checkbox" name="vehicle" value="Bike">
                        </div>
                    </td>
                    <td><a href="#">Steam URL</a></td>
                    <td>
                        <a href="#">Notes</a>
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm">Recruited</button>
                        <button class="btn btn-danger btn-sm ml-1">Rejected</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
